.kavin {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

.para {
    font-size: large;
    font-style: italic;
    width: 90%;

}

.mail {
    color: rgb(83, 24, 24);
    font-style: italic;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.profile_img {
    border-radius: 10px 10px 10px 10px;
    float: right;
}
hr{
   margin-top: 3%;
}
a:link{
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}